<ul class="top-gap-big theme-ul-no-style">
  <% page.posts.forEach((post, index) => { %>
    <li>
      <a href="<%= url_for(post.path) %>" class="theme-header-link">
        <h3><%= post.title %></h3>
      </a>
      <%- partial('post_meta', { post }) %>
      <% if (post.excerpt) { %>
        <% if (post.excerpt.indexOf('<p') === 0) { %>
          <%- post.excerpt %>
        <% } else { %>
          <p><%- post.excerpt %></p>
        <% } %>
          <p><a class="text-muted" href="<%= url_for(post.path) %>#more">
            <%= __('more') %>
          </a></p>
      <% } %>
      <div class="top-gap theme-bfc"></div>
    </li>
  <% }); %>
</ul>
