<div class="text-small text-muted">
  <time datetime="<%= post.date.format() %>">
    <%= post.date.format('YYYY-MM-DD') %>
  </time>
  <span class="theme-separator">·</span>
  <i class="czs-user-l"></i>
  <a class="text-muted theme-text-no-decoration" href="https://github.com/<%= post.author %>"><%= post.author %></a>
  <span class="theme-separator">·</span>
  <i class="czs-bookmark-l"></i>
  <%-
    post.categories.map((category) =>
      `<a class="text-muted theme-text-no-decoration" href="${url_for(category.path)}">${category.name}</a>`).join(' > ')
  %>
  <span class="theme-comment-count-container theme-hide theme-comment-count-container-transparent">
    <span class="theme-separator">·</span>
    <i class="czs-comment-l"></i>
    <a class="text-muted theme-text-no-decoration theme-comment-count" data-disqus-identifier="<%= post.path %>" href="<%= url_for(post.path) %>#disqus_thread"></a>
  </span>
</div>
