<div class="theme-sidebar-mask theme-hide"></div>
<aside class="theme-sidebar-wrapper">
  <div class="container flex-left units-gap theme-header-container">
    <%- partial('icons', { icons: theme.menu }) %>
  </div>
  <div class="container">
    <% Object.keys(theme.sidebar).forEach((key) => {
      if (!theme.sidebar[key]) return;
      switch (key) {
        case 'title': %>
          <h2><%= config.title %></h2>
          <% break;
        case 'subtitle': %>
          <p class="top-gap-0 text-muted"><%= config.subtitle %></p>
          <% break;
        case 'description': %>
          <p><%= config.description %></p>
          <% break;
        case 'avatar': %>
          <div class="flex-left flex-middle top-gap">
            <img alt="Avatar" height="24" src="<%= theme.sidebar.avatar %>"/>
            <span class="theme-sidebar-author"><%= config.author %></span>
          </div>
          <% break;
        case 'welcome': %>
          <p><%= theme.sidebar.welcome %></p>
          <% break;
        case 'social': %>
          <p class="theme-sidebar-social">
            <%- partial('icons', { icons: theme.sidebar.social }) %>
          </p>
          <% break;
        case 'links': %>
          <h5><%= __('sidebar.links') %></h5>
          <p class="text-muted">
            <small>
              <ul class="theme-list-style-none">
                <%- Object.keys(theme.sidebar[key]).map((name) =>
                  `<li><a class="text-muted" href="${theme.sidebar[key][name]}">${name}</a></li>`
                ).join('') %>
              </ul>
            </small>
          </p>
          <% break;
        case 'toc':
          if (is_post()) { %>
            <h5><%= __('sidebar.toc') %></h5>
            <small><%- toc(page.content, { list_number: false }) %></small>
          <% }
          break;
        default:
          %><%- theme.sidebar[key] %>
      <% }
    }) %>
  </div>
</aside>
