<% if (theme.sidebar) { %>
  <aside class="hide-on-mobile theme-sidebar-container">
    <% Object.keys(theme.sidebar).forEach((key) => {
      if (!theme.sidebar[key]) return;
      switch (key) {
        case 'title': %>
          <h4 class="top-gap"><%= config.title %></h4>
        <% break;
        case 'subtitle': %>
          <p><%= config.subtitle %></p>
        <% break;
        case 'avatar': %>
          <p>
            <img alt="Avatar" width="128" src="<%= theme.sidebar[key] %>"/>
          </p>
        <% break;
        case 'description': %>
          <p class="text-muted"><%= config.description %></p>
        <% break;
        case 'social': %>
          <h5><%= __('sidebar.social') %></h5>
          <p class="text-muted">
            <small>
            <%- Object.keys(theme.sidebar[key]).map((name) =>
              `<a class="text-muted" href="${theme.sidebar[key][name]}">${name}</a>`
            ).join('<span class="theme-separator">·</span>') %>
            </small>
          </p>
        <% break;
        case 'links': %>
          <h5><%= __('sidebar.links') %></h5>
          <p class="text-muted">
            <small>
            <%- Object.keys(theme.sidebar[key]).map((name) =>
              `<a class="text-muted" href="${theme.sidebar[key][name]}">${name}</a>`
            ).join('<span class="theme-separator">·</span>') %>
            </small>
          </p>
        <% break;
        case 'toc':
          if (is_post()) { %>
            <h5><%= __('sidebar.toc') %></h5>
            <small><%- toc(page.content, { list_number: false }) %></small>
          <% }
          break;
        default:
          if (key.indexOf('custom_') === 0) { %>
            <%- theme.sidebar[key] %>
          <% }
      }
    }) %>
  </aside>
<% } %>