<!doctype html>
<html lang="<%= page.lang %>">
  <%- partial('_partial/head') %>
  <body>
    <div class="flex-center">
      <div class="container">
        <%- partial('_partial/header') %>
        <%- body %>
      </div>
      <%- partial('_partial/sidebar') %>
    </div>
    <%- partial('_partial/google_analytics') %>
  </body>
</html>
