<!doctype html>
<html lang="<%= page.lang %>">
  <%- partial('_partial/head') %>
  <body class="theme-body">
    <%- partial('_partial/header') %>
    <div class="flex-center">
      <div class="container">
        <%- body %>
        <%- partial('_partial/footer') %>
      </div>
      <%- partial('_partial/sidebar') %>
    </div>
    <%- js([
      'js/theme.js'
    ]) %>
    <%- partial('_partial/google_analytics') %>
    <%- partial('_partial/disqus_count') %>
  </body>
</html>
